h2{
    font-family: 'Black Ops One', cursive;
}
#city{
    margin: auto;
    width: 50%; 
    padding: 10px;
    font-size: 18px;
    border: 2px solid black
}
#search-btn {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    width: 30%;
    padding: 10px;
    font-size: 18px;
    margin: auto; /* Center the button horizontally within its parent container */
}
#search-btn:hover{
    background-color: #4CAF50; /* Green */
    color: white;
}
 
.rain-percentage{
    font-size: 10px;
    font-family: 'Black Ops One', cursive;
    font-style: italic;
    color: grey;
}
.city{    
    font-size: 25px;
    font-family: 'Black Ops One', cursive;
}
.cityTemp{
    display: inline;

}
.weather-icon{
    width: 110px;
    height: 110px;
    outline: none;
    background-color: transparent;
    border-width: 0px;
}
.cityTemp-inline{
    display: flex;
    justify-content: space-between
}
.temperature{
    font-size: 25px;
    font-family: 'Black Ops One', cursive;
}
#cardBody{
    border-width: 0px;
}
