h2{
    font-family: 'Black Ops One', cursive;
}
#city{
    margin: auto;
    width: 50%; 
    padding: 10px;
    font-size: 18px;
    border: 2px solid black
}
#search-btn {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    width: 30%;
    padding: 10px;
    font-size: 18px;
    margin: auto; /* Center the button horizontally within its parent container */
}
.city{
    font-size: 25px;
}
.cityTemp{
    display: inline;

}
.weather-icon{
    width: 50px;
    height: 50px;
}